extends layout

block content
  .row
    .page-header.col-lg-12 
      h1 guardthis.info
  if locals.foundRecord
    .row.js-record.js-dismiss-target(data-hash=foundRecord.hash)
      .col-lg-12
        .found-record
          if foundRecord == 'not found'
            h3.found-record__title Sorry, your link has expired
            .btn.btn-default.js-dismiss Dismiss
          else
            h2.found-record__title Your Secure Info:
            .well= foundRecord.text
            
            .btn.btn-default.js-clear-record Delete
            em.js-expiration__wrapper.expiration__wrapper
              |Expires in 
              span.expiration__minutes.js-expiration__minutes= timeLeft
              |&nbsp;min


  .row
    section.col-lg-4.site-info 
      .site-info__tagline Share data for 10 minutes, and then it's gone! It's like snapchat for passwords.
      a.site-info__contact(href="mailto:info@guardthis.info", target="_blank") contact
    section.col-lg-8
      .row
        .col-lg-12.app__wrapper
          form.app
            textarea.secure-text.form-control(placeholder="Paste text here", rows="4", maxlength="1000", tabindex="1")
            .buttons
              .btn-group.expiration-time-buttons.pull-left(data-toggle="buttons")
                label.btn.btn-default.btn-large
                  input(type="radio", name="expiration-time", id="expiration-time--5", data-expiration-minutes="5")
                  | 5 min
                label.btn.btn-default.btn-large
                  input(type="radio", name="expiration-time", id="expiration-time--10", data-expiration-minutes="10") 
                  | 10 min
                label.btn.btn-default.btn-large.active
                  input(type="radio", name="expiration-time", id="expiration-time--15", data-expiration-minutes="15") 
                  | 15 min
                label.btn.btn-default.btn-large
                  input(type="radio", name="expiration-time", id="expiration-time--60", data-expiration-minutes="60")
                  | 60 min
              input.btn.btn-primary.pull-right.btn-large.js-submit.submit-record(tabindex="2", type="submit") Get link
              .clearfix
          
      .row.current-records__wrapper(style=(locals.existingRecords && locals.existingRecords.length > 0) ? "" : "display:none;")
        .col-lg-12
          h4.current-records__header Links
          ul.list-group.current-records
            each record in existingRecords
              li.list-group-item.record.js-record(data-hash=record.hash)
                span.badge.clear-record.js-clear-record delete
                if record.timeLeft <= 0
                  em.record__url.text-muted= 'www.guardthis.info/' + record.hash
                else
                  a.record__url(href="/" + record.hash)= 'www.guardthis.info/' + record.hash
                br
                em.text-muted.js-expiration__wrapper.expiration__wrapper
                  if record.timeLeft <= 0
                    |Expired
                  else
                    |Expires in 
                    span.expiration__minutes.js-expiration__minutes= record.timeLeft
                    |&nbsp;min

block bodyscripts