extends layout

block content
  .row
    .page-header.col-lg-12 
      h1 guardthis.info
  if locals.foundRecord
    .row.js-record.js-dismiss-target(data-hash=foundRecord.hash)
      .col-lg-12
        .found-record
          if foundRecord == 'not found'
            h3.found-record__title Sorry, your link has expired
            .btn.btn-default.js-dismiss Dismiss
          else
            h2.found-record__title Your Secure Info:
            .well= foundRecord.text
            
            .btn.btn-default.js-clear-record Delete
            if foundRecord.expirationTimePretty
              em.found-record__expiration= "Expires: " + foundRecord.expirationTimePretty


  .row
    section.col-lg-4.site-info 
      .site-info__tagline A better way to temporarily share short pieces of text
    section.col-lg-8
      .row.app__row
        .col-lg-12
          .app
            textarea.secure-text.form-control(placeholder="Paste text here", rows="4", maxlength="1000")
            .buttons
              .btn-group.expiration-time-buttons.pull-left(data-toggle="buttons")
                label.btn.btn-default.btn-large
                  input(type="radio", name="expiration-time", id="expiration-time--1", data-expiration-minutes="1")
                  | 1 min
                label.btn.btn-default.btn-large
                  input(type="radio", name="expiration-time", id="expiration-time--5", data-expiration-minutes="5")
                  | 5 min
                label.btn.btn-default.btn-large
                  input(type="radio", name="expiration-time", id="expiration-time--10", data-expiration-minutes="10") 
                  | 10 min
                label.btn.btn-default.btn-large.active
                  input(type="radio", name="expiration-time", id="expiration-time--15", data-expiration-minutes="15") 
                  | 15 min
              .btn.btn-primary.pull-right.btn-large.js-submit.submit-record Submit
              .clearfix
          
      .row.current-records__wrapper(style=(locals.existingRecords && locals.existingRecords.length > 0) ? "" : "display:none;")
        .col-lg-12
          h4.current-records__header Previous links
          ul.list-group.current-records
            each record in existingRecords
              li.list-group-item.record.js-record(data-hash=record.hash)
                span.badge.clear-record.js-clear-record clear
                a(href="/" + record.hash)= 'guardthis.info/' + record.hash
                br
                if record.expirationTimePretty
                  em.text-muted= "Expires: " + record.expirationTimePretty

block bodyscripts